Repository alexander-bochkov/sudoku: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint, stylelint

Update dependencies
  package-lock.json
  package.json
Due: prettier --check

Fix sass mixed-decls warning
  src/ui/Board/Board.module.scss
Due: prettier --check, stylelint

Add sorting rules for imports
  eslint.config.js
  package-lock.json
  package.json
  src/components/FinishModal/FinishModal.tsx
  src/components/PauseModal/PauseModal.tsx
  src/components/Screen/Screen.tsx
  src/components/SettingsModal/Settings/Setting/Select/Select.tsx
  src/components/SettingsModal/Settings/Setting/Setting.tsx
  src/components/SettingsModal/Settings/Settings.tsx
  src/components/SettingsModal/Settings/hooks/useLanguageSetting.ts
  src/components/SettingsModal/SettingsModal.tsx
  src/contexts/GameContext/context.ts
  src/contexts/GameContext/hook.ts
  src/contexts/GameContext/hooks/use-board/use-board.ts
  src/contexts/GameContext/hooks/use-board/utils.ts
  src/contexts/GameContext/hooks/use-selected-cell.ts
  src/contexts/GameContext/provider.tsx
  src/contexts/ParamsContext/context.ts
  src/contexts/ParamsContext/hook.ts
  src/contexts/ParamsContext/hooks/use-language.ts
  src/contexts/ParamsContext/provider.tsx
  src/i18n.ts
  src/main.tsx
  src/screens/Game/Game.tsx
  src/screens/MainMenu/MainMenu.tsx
  src/ui/Board/Board.tsx
  src/ui/Board/Cell/Cell.tsx
  src/ui/Board/Row/Row.tsx
  src/ui/Button/Button.tsx
  src/ui/Icon/Icon.tsx
  src/ui/Menu/Menu.tsx
  src/ui/Modal/Modal.tsx
  src/ui/Numpad/Numpad.tsx
  src/ui/Overlay/Overlay.tsx
  src/ui/ScreenLayout/ScreenLayout.tsx
  vite.config.ts
Due: prettier --check, eslint

Add import/consistent-type-specifier-style eslint rule
  eslint.config.js
Due: prettier --check, eslint

Add import/no-useless-path-segments eslint rule
  eslint.config.js
Due: prettier --check, eslint

Add favicon
  .gitattributes
  index.html
  public/logo.png
  public/vite.svg
Due: prettier --check

Fix table layout in Safari
  src/constants/characters.ts
  src/ui/Board/Board.module.scss
  src/ui/Board/Cell/Cell.tsx
Due: prettier --check, eslint, stylelint

Fix remaining hover on buttons in Safari
  src/ui/Board/Board.module.scss
  src/ui/Button/Button.module.scss
Due: prettier --check, stylelint

Add Loader ui component
  src/ui/Loader/Loader.module.scss
  src/ui/Loader/Loader.tsx
  src/ui/Loader/index.ts
  src/ui/Overlay/Overlay.tsx
  src/ui/index.ts
Due: prettier --check, eslint, stylelint

Add Loader when translations are loading
  src/contexts/ParamsContext/hooks/use-language.ts
  src/contexts/ParamsContext/provider.tsx
  src/main.tsx
Due: prettier --check, eslint

Update Board creation
  src/contexts/GameContext/hooks/use-board/constants.ts
  src/contexts/GameContext/hooks/use-board/use-board.ts
  src/contexts/GameContext/hooks/use-board/utils.ts
  src/contexts/GameContext/types.ts
Due: prettier --check, eslint

Change eslint config file extension from js to ts
  eslint.config.ts
  package-lock.json
  package.json
  src/i18n.ts
  tsconfig.node.json
  types/eslint-plugin-import.d.ts
  types/eslint-plugin-react-hooks.d.ts
Due: prettier --check, eslint

Add validateMatrix tool
  package.json
  tools/validate-matrix.ts
  tsconfig.node.json
Due: prettier --check, eslint

Update media mixin
  src/screens/Game/Game.module.scss
  src/styles/_dimensions.scss
  src/styles/_mixins.scss
  src/ui/Board/Board.module.scss
  src/ui/Modal/Modal.module.scss
Due: prettier --check, stylelint

Add horizontal matrix shuffle
  src/contexts/GameContext/hooks/use-board/constants.ts
  src/contexts/GameContext/hooks/use-board/utils.ts
  src/contexts/GameContext/types.ts
  tools/validate-matrix.ts
Due: prettier --check, eslint

update dependencies
  package-lock.json
  package.json
Due: prettier --check

Update eslint rules
  eslint.config.ts
Due: prettier --check, eslint

Update screens layout
  src/global.scss
  src/screens/Game/Game.tsx
  src/screens/MainMenu/MainMenu.tsx
  src/ui/Screen/Screen.module.scss
  src/ui/Screen/Screen.tsx
  src/ui/Screen/index.ts
  src/ui/ScreenLayout/ScreenLayout.tsx
  src/ui/ScreenLayout/index.ts
  src/ui/index.ts
Due: prettier --check, eslint, stylelint

Refactoring part 1
  public/translations/de/translation.json
  public/translations/en/translation.json
  public/translations/ru/translation.json
  src/App.tsx
  src/components/Screen/Screen.tsx
  src/contexts/ParamsContext/context.ts
  src/contexts/ParamsContext/hooks/index.ts
  src/contexts/ParamsContext/hooks/use-language.ts
  src/contexts/ParamsContext/provider.tsx
  src/contexts/ParamsContext/use-language.ts
  src/i18n.ts
  src/main.tsx
  src/types/screen.ts
  src/ui/Icon/Icon.tsx
  src/ui/Icon/constants.ts
  src/ui/Loader/Loader.module.scss
  src/ui/Loader/Loader.tsx
  src/ui/Overlay/Overlay.tsx
Due: prettier --check, eslint, stylelint

Refactoring part 2
  src/App.tsx
  src/components/SettingsModal/Settings/Setting/Select/Select.module.scss
  src/components/SettingsModal/Settings/Setting/Select/Select.tsx
  src/components/SettingsModal/Settings/Setting/Select/index.ts
  src/components/SettingsModal/Settings/Setting/Setting.module.scss
  src/components/SettingsModal/Settings/Setting/Setting.tsx
  src/components/SettingsModal/Settings/Setting/index.ts
  src/components/SettingsModal/Settings/Settings.module.scss
  src/components/SettingsModal/Settings/Settings.tsx
  src/components/SettingsModal/Settings/hooks/index.ts
  src/components/SettingsModal/SettingsModal.tsx
  src/components/SettingsModal/useLanguageSetting.ts
  src/contexts/ParamsContext/provider.tsx
  src/contexts/ParamsContext/use-language.ts
  src/screens/MainMenu/MainMenu.module.scss
  src/screens/MainMenu/MainMenu.tsx
  src/types/settings.ts
  src/ui/Menu/Menu.tsx
  src/ui/Menu/index.ts
  src/ui/Modal/Modal.module.scss
  src/ui/Modal/Modal.tsx
  src/ui/Modal/index.ts
  src/ui/Settings/Select.tsx
  src/ui/Settings/Settings.module.scss
  src/ui/Settings/Settings.tsx
  src/ui/Settings/index.ts
  src/ui/index.ts
  types/i18next.d.ts
  types/vite-env.d.ts
Due: prettier --check, eslint, stylelint

Refactoring part 3
  src/components/FinishModal/FinishModal.tsx
  src/components/PauseModal/PauseModal.tsx
  src/screens/Game/Game.module.scss
  src/screens/Game/Game.tsx
  src/types/board.ts
  src/ui/Board/Board.tsx
  src/ui/Board/Cell.tsx
  src/ui/Board/Cell/index.ts
  src/ui/Board/Row/Row.tsx
  src/ui/Board/Row/index.ts
  src/ui/Board/index.ts
  src/ui/Button/Button.tsx
  src/ui/Numpad/Numpad.tsx
Due: prettier --check, eslint, stylelint

Refactoring part 4
  src/App.tsx
  src/contexts/GameContext/context.ts
  src/contexts/GameContext/hook.ts
  src/contexts/GameContext/hooks/index.ts
  src/contexts/GameContext/hooks/use-board/index.ts
  src/contexts/GameContext/hooks/use-board/use-board.ts
  src/contexts/GameContext/hooks/use-selected-cell.ts
  src/contexts/GameContext/index.ts
  src/contexts/GameContext/provider.tsx
  src/contexts/index.ts
  src/global.scss
  src/screens/Game/Game.tsx
  src/screens/Game/constants.ts
  src/screens/Game/types.ts
  src/screens/Game/useBoard.ts
  src/screens/Game/useSelectedCell.ts
  src/screens/Game/utils.ts
  src/types/board.ts
Due: prettier --check, eslint, stylelint

Add check that soduku has unique solution
  src/screens/Game/utils.ts
Due: prettier --check, eslint

Add .stylelintignore
  .stylelintignore
Due: prettier --check

Update dependencies
  package-lock.json
  package.json
  src/styles/_dimensions.scss
  types/eslint-plugin-react-hooks.d.ts
Due: prettier --check, eslint, stylelint

Add three difficulty levels: easy, medium, hard
  public/translations/de/translation.json
  public/translations/en/translation.json
  public/translations/ru/translation.json
  src/components/SettingsModal/SettingsModal.tsx
  src/components/SettingsModal/useDifficultySetting.ts
  src/components/SettingsModal/useLanguageSetting.ts
  src/contexts/ParamsContext/context.ts
  src/contexts/ParamsContext/provider.tsx
  src/screens/Game/Game.tsx
  src/screens/Game/constants.ts
  src/screens/Game/useBoard.ts
  src/types/board.ts
  src/ui/Settings/Select.module.scss
  src/ui/Settings/Select.tsx
  src/ui/Settings/Setting.module.scss
  src/ui/Settings/Setting.tsx
  src/ui/Settings/Settings.module.scss
  src/ui/Settings/Settings.tsx
  src/ui/Settings/index.ts
Due: prettier --check, eslint, stylelint

Update package.json
  package.json
Due: prettier --check

Update LICENSE
  LICENSE
Due: prettier --check

Add animation when opening a modal window
  src/ui/Modal/Modal.module.scss
Due: prettier --check, stylelint

Add the ability to add suggestions to a cell
  src/screens/Game/Game.module.scss
  src/screens/Game/Game.tsx
  src/screens/Game/useBoard.ts
  src/screens/Game/useSelectedCell.ts
  src/screens/Game/utils.ts
  src/styles/_colors.scss
  src/styles/_typography.scss
  src/types/board.ts
  src/ui/Board/Board.module.scss
  src/ui/Board/Board.tsx
  src/ui/Board/Cell.tsx
  src/ui/Settings/Setting.tsx
  src/ui/Suggestions/Suggestions.module.scss
  src/ui/Suggestions/Suggestions.tsx
  src/ui/Suggestions/index.ts
  src/ui/index.ts
Due: prettier --check, eslint, stylelint

Add short description to README
  README.md
Due: prettier --check

Rewrite sudoku generation
  eslint.config.ts
  src/screens/Game/use-sudoku/index.ts
  src/screens/Game/use-sudoku/use-board-generator/constants.ts
  src/screens/Game/use-sudoku/use-board-generator/index.ts
  src/screens/Game/use-sudoku/use-board-generator/types.ts
  src/screens/Game/use-sudoku/use-board-generator/use-board-generator.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/covert-to-board.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/create-clues.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/has-unique-solution.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/index.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/matrix.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/shuffle.ts
  src/screens/Game/use-sudoku/use-board-generator/worker.ts
  src/screens/Game/use-sudoku/use-sudoku.ts
  src/screens/Game/use-sudoku/verify-board.ts
  src/types/sudoku.ts
Due: prettier --check, eslint

Update settings
  .vscode/settings.json
Due: prettier --check

Update ESLint config
  eslint.config.ts
  src/types/language.ts
  types/i18next.d.ts
  types/vite-env.d.ts
Due: prettier --check, eslint

Update .gitignore
  .gitignore
Due: prettier --check

Path conditions:
  prettier --check: any of: *
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
