Repository alexander-bochkov/sudoku: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint, stylelint

Add new background
  index.html
  src/assets/images/stars.png
  src/global.scss
  src/styles/_colors.scss
Due: prettier --check, stylelint

Update screen layout
  src/App.tsx
  src/global.scss
  src/screens/Game/Game.module.scss
  src/ui/Screen/Screen.module.scss
  src/ui/Screen/Screen.tsx
  src/ui/Screen/index.ts
  src/ui/index.ts
Due: prettier --check, eslint, stylelint

Add routing
  package-lock.json
  package.json
  src/App.tsx
  src/components/FinishModal/FinishModal.tsx
  src/components/PauseModal/PauseModal.tsx
  src/components/Screen/Screen.tsx
  src/components/Screen/index.ts
  src/components/index.ts
  src/constants/routes.ts
  src/contexts/ParamsContext/context.ts
  src/contexts/ParamsContext/provider.tsx
  src/main.tsx
  src/screens/MainMenu/MainMenu.tsx
  src/types/screen.ts
Due: prettier --check, eslint

Update deployment
  .github/workflows/jekyll-gh-pages.yml
  package-lock.json
  package.json
Due: prettier --check

Updates
  .editorconfig
  .env.production
  .gitattributes
  .github/workflows/jekyll-gh-pages.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .nojekyll
  .npmrc
  .prettierrc.json
  .stylelintignore
  .stylelintrc.json
  .vscode/settings.json
  assets/BalsamiqSans-CFxmmnQm.ttf
  assets/Itim-C81TTF-z.ttf
  assets/browser-ponyfill-DEEVcJG2.js
  assets/index-CrHHO2gy.js
  assets/index-tIFV2uyj.css
  assets/stars-CrF-4x53.png
  index.html
  logo.png
  translations/de/translation.json
  translations/en/translation.json
  translations/ru/translation.json
Due: prettier --check, eslint, stylelint

Updates
  assets/browser-ponyfill-DEEVcJG2.js
  assets/index-CXYyRpnL.js
  assets/index-CrHHO2gy.js
  index.html
Due: prettier --check, eslint

Updates
  assets/index-Dk9thZ1S.js
  index.html
  translations/de/translation.json
  translations/en/translation.json
  translations/ru/translation.json
Due: prettier --check, eslint

Refactor localization
  package-lock.json
  package.json
  src/App.tsx
  src/i18n.ts
  src/localization/i18next.d.ts
  src/localization/index.ts
  src/localization/resources/de/index.ts
  src/localization/resources/de/translation.json
  src/localization/resources/en/index.ts
  src/localization/resources/en/translation.json
  src/localization/resources/index.ts
  src/localization/resources/ru/index.ts
  src/localization/resources/ru/translation.json
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.app.json
  types/i18next.d.ts
  types/vite-env.d.ts
Due: prettier --check, eslint

Updates
  assets/index-DQU6mJiL.js
  index.html
Due: prettier --check, eslint

Update language setting
  src/components/SettingsModal/useLanguageSetting.ts
  src/contexts/ParamsContext/context.ts
  src/contexts/ParamsContext/provider.tsx
  src/contexts/ParamsContext/use-language.ts
Due: prettier --check, eslint

Update dependencies
  package-lock.json
  package.json
Due: prettier --check

Add TODOs
  index.html
  src/screens/Game/use-sudoku/use-board-generator/constants.ts
  src/screens/Game/use-sudoku/use-board-generator/use-board-generator.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/matrix.ts
  src/screens/Game/use-sudoku/use-sudoku.ts
Due: prettier --check, eslint

Updates
  assets/index-CPIHsKpn.js
  assets/index-CR-w_b6T.css
  assets/index-DQU6mJiL.js
  assets/index-tIFV2uyj.css
  index.html
Due: prettier --check, eslint, stylelint

Update eslint config
  eslint.config.ts
Due: prettier --check, eslint

Update vite config
  vite.config.ts
Due: prettier --check, eslint

Update TypeScript config
  .gitignore
  eslint.config.ts
  package-lock.json
  package.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: prettier --check, eslint

Update VS Code workspace settings
  .vscode/settings.json
Due: prettier --check

Update ESLint config
  eslint.config.ts
Due: prettier --check, eslint

Update scripts
  package.json
Due: prettier --check

Refactor board generation
  src/screens/Game/use-sudoku/use-board-generator/board-generator-worker.ts
  src/screens/Game/use-sudoku/use-board-generator/constants.ts
  src/screens/Game/use-sudoku/use-board-generator/types.ts
  src/screens/Game/use-sudoku/use-board-generator/use-board-generator.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/covert-to-board.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/has-unique-solution.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/matrix.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/shuffle.ts
  src/screens/Game/use-sudoku/use-sudoku.ts
  src/screens/Game/use-sudoku/verify-board.ts
  src/types/sudoku.ts
Due: prettier --check, eslint

Integrate the new board generation mechanism into the game
  src/components/SettingsModal/useDifficultySetting.ts
  src/contexts/ParamsContext/context.ts
  src/contexts/ParamsContext/provider.tsx
  src/screens/Game/Game.tsx
  src/screens/Game/constants.ts
  src/screens/Game/types.ts
  src/screens/Game/use-sudoku/index.ts
  src/screens/Game/use-sudoku/use-board-generator/index.ts
  src/screens/Game/useBoard.ts
  src/screens/Game/useSudoku/index.ts
  src/screens/Game/useSudoku/useBoardGenerator/board-generator-worker.ts
  src/screens/Game/useSudoku/useBoardGenerator/constants.ts
  src/screens/Game/useSudoku/useBoardGenerator/index.ts
  src/screens/Game/useSudoku/useBoardGenerator/types.ts
  src/screens/Game/useSudoku/useBoardGenerator/useBoardGenerator.ts
  src/screens/Game/useSudoku/useBoardGenerator/utils/covert-to-board.ts
  src/screens/Game/useSudoku/useBoardGenerator/utils/create-clues.ts
  src/screens/Game/useSudoku/useBoardGenerator/utils/has-unique-solution.ts
  src/screens/Game/useSudoku/useBoardGenerator/utils/index.ts
  src/screens/Game/useSudoku/useBoardGenerator/utils/matrix.ts
  src/screens/Game/useSudoku/useBoardGenerator/utils/shuffle.ts
  src/screens/Game/useSudoku/useSudoku.ts
  src/screens/Game/useSudoku/verify-board.ts
  src/screens/Game/utils.ts
  src/styles/_colors.scss
  src/styles/_typography.scss
  src/types/board.ts
  src/types/sudoku.ts
  src/ui/Board/Board.module.scss
  src/ui/Board/Board.tsx
  src/ui/Board/Cell.tsx
  src/ui/Button/Button.tsx
  src/ui/Notes/Notes.module.scss
  src/ui/Notes/Notes.tsx
  src/ui/Notes/index.ts
  src/ui/Numpad/Numpad.tsx
  src/ui/Suggestions/Suggestions.module.scss
  src/ui/Suggestions/Suggestions.tsx
  src/ui/Suggestions/index.ts
  src/ui/index.ts
Due: prettier --check, eslint, stylelint

Updates
  assets/board-generator-worker-CxBKtCik.js
  assets/index-CPIHsKpn.js
  assets/index-CR-w_b6T.css
  assets/index-VDMx-3us.js
  assets/index-zVkHaxZ3.css
  index.html
Due: prettier --check, eslint, stylelint

Update Vite config
  vite.config.ts
Due: prettier --check, eslint

Update _colors.scss file
  src/styles/_colors.scss
Due: prettier --check, stylelint

Clean package.json
  package.json
Due: prettier --check

Remove tools folder
  tools/validate-matrix.ts
Due: prettier --check, eslint

Update html lang attribute when language changes
  src/App.tsx
  src/localization/index.ts
  src/localization/init.ts
  src/localization/use-update-html-lang.ts
  src/main.tsx
Due: prettier --check, eslint

Rename fonts
  src/assets/fonts-new/balsamiq-sans.ttf
  src/assets/fonts-new/itim.ttf
  src/styles/_fonts.scss
Due: prettier --check, stylelint

Rename files
  src/assets/fonts/balsamiq-sans.ttf
  src/assets/fonts/itim.ttf
  src/assets/icons/arrow-left.svg
  src/assets/icons/arrow-right.svg
  src/components/SettingsModal/SettingsModal.tsx
  src/components/SettingsModal/use-difficulty-setting.ts
  src/components/SettingsModal/use-language-setting.ts
  src/screens/Game/Game.tsx
  src/screens/Game/use-sudoku/index.ts
  src/screens/Game/use-sudoku/use-board-generator/board-generator-worker.ts
  src/screens/Game/use-sudoku/use-board-generator/constants.ts
  src/screens/Game/use-sudoku/use-board-generator/index.ts
  src/screens/Game/use-sudoku/use-board-generator/types.ts
  src/screens/Game/use-sudoku/use-board-generator/use-board-generator.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/covert-matrix-to-board.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/create-clues.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/has-unique-solution.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/index.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/matrix.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/shuffle.ts
  src/screens/Game/use-sudoku/use-sudoku.ts
  src/screens/Game/use-sudoku/verify-board.ts
  src/screens/Game/useSudoku/index.ts
  src/screens/Game/useSudoku/useBoardGenerator/index.ts
  src/styles/_fonts.scss
  src/ui/Icon/constants.ts
Due: prettier --check, eslint, stylelint

Update exports
  src/localization/index.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/index.ts
  src/screens/index.ts
Due: prettier --check, eslint

Move board-generator-worker to workers folder
  src/screens/Game/use-board-generator/index.ts
  src/screens/Game/use-board-generator/types.ts
  src/screens/Game/use-board-generator/use-board-generator.ts
  src/screens/Game/use-sudoku/use-board-generator/utils/index.ts
  src/screens/Game/use-sudoku/use-sudoku.ts
  src/workers/board-generator-worker/board-generator-worker.ts
  src/workers/board-generator-worker/constants.ts
  src/workers/board-generator-worker/index.ts
  src/workers/board-generator-worker/types.ts
  src/workers/board-generator-worker/utils/covert-matrix-to-board.ts
  src/workers/board-generator-worker/utils/create-clues.ts
  src/workers/board-generator-worker/utils/has-unique-solution.ts
  src/workers/board-generator-worker/utils/matrix.ts
  src/workers/board-generator-worker/utils/shuffle.ts
Due: prettier --check, eslint

Replace useBoardGenerator hook with useWorker
  src/hooks/use-worker.ts
  src/screens/Game/use-board-generator/index.ts
  src/screens/Game/use-board-generator/types.ts
  src/screens/Game/use-board-generator/use-board-generator.ts
  src/screens/Game/use-sudoku/use-sudoku.ts
  src/workers/board-generator-worker/board-generator-worker.ts
  src/workers/board-generator-worker/index.ts
  src/workers/board-generator-worker/types.ts
Due: prettier --check, eslint

Update i18next.d.ts
  src/localization/i18next.d.ts
Due: prettier --check, eslint

Specify @typescript-eslint/no-unused-vars rule
  eslint.config.ts
Due: prettier --check, eslint

Add usePersistentState hook
  src/constants/storage.ts
  src/hooks/use-persistent-state.ts
  src/types/utility-types.ts
Due: prettier --check, eslint

Save difficulty setting to localStorage
  src/App.tsx
  src/components/SettingsModal/use-difficulty-setting.ts
  src/constants/sudoku.ts
  src/contexts/ParamsContext/context.ts
  src/contexts/ParamsContext/hook.ts
  src/contexts/ParamsContext/index.ts
  src/contexts/ParamsContext/provider.tsx
  src/contexts/index.ts
  src/screens/Game/Game.tsx
Due: prettier --check, eslint

Updates
  assets/balsamiq-sans-CFxmmnQm.ttf
  assets/board-generator-worker-0cWtGkRi.js
  assets/board-generator-worker-CxBKtCik.js
  assets/index-BGiw8AjP.js
  assets/index-D7boNzdr.css
  assets/index-VDMx-3us.js
  assets/index-zVkHaxZ3.css
  assets/itim-C81TTF-z.ttf
  index.html
Due: prettier --check, eslint, stylelint

Path conditions:
  prettier --check: any of: *
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
