Repository alexander-bochkov/sudoku: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint, stylelint

.lintstagedrc.json:

{
  "*": "prettier --check",
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{css,scss}": "stylelint"
}

Fix Board display when device rotation is changed or a browser window is resized.
  src/components/Board/hooks/use-canvas.tsx
  src/components/Board/hooks/use-device-pixel-ratio.ts
Due: prettier --check, eslint

Update dependencies
  package-lock.json
  package.json
Due: prettier --check

Update eslint config
  eslint.config.js
  package-lock.json
  package.json
  src/components/Board/ActionCanvas.tsx
  src/components/Board/SolutionCanvas.tsx
  src/components/Board/StaticCanvas.tsx
  src/components/Board/hooks/use-board-drawing.ts
  src/components/Board/hooks/use-device-pixel-ratio.ts
  src/components/Button/Button.tsx
  src/components/ButtonsGroup/ButtonsGroup.tsx
  src/components/Modal/Modal.tsx
  src/components/Screen/Screen.tsx
  src/components/ScreenLayout/ScreenLayout.tsx
  src/components/StartButton/StartButton.tsx
  src/contexts/BoardContext/context.ts
  src/contexts/BoardContext/provider.tsx
  src/contexts/BoardContext/utils.ts
  src/contexts/ScreenContext/context.ts
  src/main.tsx
  src/screens/Game/Game.tsx
  src/types/board.ts
  src/utils/board.ts
  src/utils/browser.ts
Due: prettier --check, eslint

Add effects scss variables
  src/styles/_effects.scss
Due: prettier --check, stylelint

Add colors scss variables
  src/styles/_colors.scss
Due: prettier --check, stylelint

Add Balsamiq Sans font
  src/assets/fonts/BalsamiqSans.ttf
  src/styles/_fonts.scss
Due: prettier --check, stylelint

Add typography mixins
  src/styles/_typography.scss
Due: prettier --check, stylelint

Add Icon component
  package-lock.json
  package.json
  src/assets/icons/arrowLeft.svg
  src/assets/icons/arrowRight.svg
  src/assets/icons/eraser.svg
  src/assets/icons/pause.svg
  src/assets/icons/spinner.svg
  src/components/Button/Button.tsx
  src/components/Icon/Icon.module.scss
  src/components/Icon/Icon.tsx
  src/components/Icon/constants.ts
  src/components/Icon/index.ts
  src/components/index.ts
  tsconfig.app.json
  vite.config.ts
Due: prettier --check, eslint, stylelint

Add Overlay component
  src/components/Overlay/Overlay.module.scss
  src/components/Overlay/Overlay.tsx
  src/components/Overlay/index.ts
  src/components/index.ts
  src/styles/_effects.scss
Due: prettier --check, eslint, stylelint

Update Modal component
  src/components/Board/Board.tsx
  src/components/Board/utils.ts
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/screens/Game/Game.tsx
  src/types/board.ts
  src/utils/board.ts
Due: prettier --check, eslint, stylelint

Update Button component
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/components/ButtonsGroup/ButtonsGroup.tsx
  src/components/index.ts
  src/screens/Game/Game.tsx
Due: prettier --check, eslint, stylelint

Replace ButtonsGroup component with Numpad component
  src/components/Button/Button.tsx
  src/components/ButtonsGroup/ButtonsGroup.tsx
  src/components/ButtonsGroup/index.ts
  src/components/Numpad/Numpad.module.scss
  src/components/Numpad/Numpad.tsx
  src/components/Numpad/index.ts
  src/components/index.ts
  src/screens/Game/Game.tsx
  src/types/board.ts
Due: prettier --check, eslint, stylelint

Add Menu component
  src/components/Menu/Menu.module.scss
  src/components/Menu/Menu.tsx
  src/components/Menu/index.ts
  src/components/StartButton/StartButton.module.scss
  src/components/StartButton/StartButton.tsx
  src/components/StartButton/index.ts
  src/components/index.ts
  src/screens/MainMenu/MainMenu.tsx
  src/styles/_colors.scss
  src/styles/_typography.scss
Due: prettier --check, eslint, stylelint

Add ui folder
  src/components/Icon/constants.ts
  src/components/index.ts
  src/screens/Game/Game.tsx
  src/screens/MainMenu/MainMenu.tsx
  src/ui/Button/Button.module.scss
  src/ui/Button/Button.tsx
  src/ui/Button/index.ts
  src/ui/Icon/Icon.module.scss
  src/ui/Icon/Icon.tsx
  src/ui/Icon/constants.ts
  src/ui/Icon/index.ts
  src/ui/Menu/Menu.module.scss
  src/ui/Menu/Menu.tsx
  src/ui/Menu/index.ts
  src/ui/Modal/Modal.module.scss
  src/ui/Modal/Modal.tsx
  src/ui/Modal/index.ts
  src/ui/Numpad/Numpad.module.scss
  src/ui/Numpad/Numpad.tsx
  src/ui/Numpad/index.ts
  src/ui/Overlay/Overlay.module.scss
  src/ui/Overlay/Overlay.tsx
  src/ui/Overlay/index.ts
  src/ui/index.ts
  tsconfig.app.json
Due: prettier --check, eslint, stylelint

Refactor screen change
  src/components/Screen/Screen.tsx
  src/components/index.ts
  src/contexts/ScreenContext/context.ts
  src/contexts/ScreenContext/provider.tsx
  src/main.tsx
  src/types/screen.ts
Due: prettier --check, eslint

Refactor ScreenLayout component
  src/components/ScreenLayout/ScreenLayout.tsx
  src/components/index.ts
  src/screens/Game/Game.tsx
  src/screens/MainMenu/MainMenu.tsx
  src/ui/ScreenLayout/ScreenLayout.module.scss
  src/ui/ScreenLayout/ScreenLayout.tsx
  src/ui/ScreenLayout/index.ts
  src/ui/index.ts
Due: prettier --check, eslint, stylelint

Refactor MainMenu screen
  src/assets/fonts/Inter.ttf
  src/components/Board/Board.tsx
  src/components/Board/hooks/use-canvas.tsx
  src/components/Screen/Screen.tsx
  src/components/Title/Title.module.scss
  src/components/Title/Title.tsx
  src/components/Title/index.ts
  src/components/index.ts
  src/contexts/BoardContext/constants.ts
  src/contexts/BoardContext/context.ts
  src/contexts/BoardContext/provider.tsx
  src/contexts/ParamsContext/constants.ts
  src/contexts/ParamsContext/context.ts
  src/contexts/ParamsContext/hook.ts
  src/contexts/ParamsContext/hooks/index.ts
  src/contexts/ParamsContext/hooks/use-dimensions.ts
  src/contexts/ParamsContext/index.ts
  src/contexts/ParamsContext/provider.tsx
  src/contexts/ScreenContext/context.ts
  src/contexts/ScreenContext/hook.ts
  src/contexts/ScreenContext/index.ts
  src/contexts/ScreenContext/provider.tsx
  src/contexts/index.ts
  src/main.tsx
  src/screens/Game/Game.tsx
  src/screens/MainMenu/MainMenu.module.scss
  src/screens/MainMenu/MainMenu.tsx
  src/screens/index.ts
  src/styles/_fonts.scss
  src/styles/_typography.scss
  src/ui/Menu/Menu.tsx
Due: prettier --check, eslint, stylelint

Add i18next
  package-lock.json
  package.json
  public/languages/de/main-menu.json
  public/languages/en/main-menu.json
  src/constants/language.ts
  src/i18n.ts
  src/main.tsx
  src/screens/MainMenu/MainMenu.tsx
Due: prettier --check, eslint

Add PauseModal component
  public/languages/en/pause-modal.json
  src/components/PauseModal/PauseModal.tsx
  src/components/PauseModal/index.ts
  src/components/index.ts
  src/screens/Game/Game.tsx
  src/ui/Modal/Modal.tsx
Due: prettier --check, eslint

Add FinishModal component
  public/languages/en/finish-modal.json
  src/components/FinishModal/FinishModal.tsx
  src/components/FinishModal/index.ts
  src/components/index.ts
  src/screens/Game/Game.tsx
Due: prettier --check, eslint

Add SettingsModal component
  public/languages/en/settings-modal.json
  src/components/SettingsModal/SettingsModal.tsx
  src/components/SettingsModal/index.ts
  src/components/index.ts
  src/screens/MainMenu/MainMenu.tsx
Due: prettier --check, eslint

Add settings
  public/languages/de/main-menu.json
  public/languages/de/settings-modal.json
  public/languages/en/settings-modal.json
  public/languages/ru/settings-modal.json
  src/components/FinishModal/FinishModal.tsx
  src/components/PauseModal/PauseModal.tsx
  src/components/Screen/Screen.tsx
  src/components/SettingsModal/Settings/Setting/Select/Select.module.scss
  src/components/SettingsModal/Settings/Setting/Select/Select.tsx
  src/components/SettingsModal/Settings/Setting/Select/index.ts
  src/components/SettingsModal/Settings/Setting/Setting.module.scss
  src/components/SettingsModal/Settings/Setting/Setting.tsx
  src/components/SettingsModal/Settings/Setting/index.ts
  src/components/SettingsModal/Settings/Settings.module.scss
  src/components/SettingsModal/Settings/Settings.tsx
  src/components/SettingsModal/Settings/hooks/index.ts
  src/components/SettingsModal/Settings/hooks/useLanguageSetting.ts
  src/components/SettingsModal/Settings/index.ts
  src/components/SettingsModal/Settings/types.ts
  src/components/SettingsModal/SettingsModal.tsx
  src/constants/language.ts
  src/contexts/ParamsContext/context.ts
  src/contexts/ParamsContext/hooks/index.ts
  src/contexts/ParamsContext/hooks/use-language.ts
  src/contexts/ParamsContext/provider.tsx
  src/i18n.ts
  src/main.tsx
  src/screens/MainMenu/MainMenu.tsx
  src/types/language.ts
  src/types/screen.ts
  src/ui/Modal/Modal.module.scss
Due: prettier --check, eslint, stylelint

Update Menu and Modal components
  src/ui/Menu/Menu.tsx
  src/ui/Menu/index.ts
  src/ui/Modal/Modal.tsx
  src/ui/Modal/index.ts
Due: prettier --check, eslint

Add type checking to translations
  public/languages/de/settings-modal.json
  public/languages/en/finish-modal.json
  public/languages/en/pause-modal.json
  public/languages/en/settings-modal.json
  public/languages/ru/settings-modal.json
  public/translations/de/modals.json
  public/translations/en/menu.json
  public/translations/en/modals.json
  public/translations/ru/modals.json
  src/components/FinishModal/FinishModal.tsx
  src/components/PauseModal/PauseModal.tsx
  src/components/SettingsModal/Settings/hooks/useLanguageSetting.ts
  src/components/SettingsModal/SettingsModal.tsx
  src/i18n.ts
  src/screens/MainMenu/MainMenu.tsx
  tsconfig.app.json
  types/i18next.d.ts
  vite.config.ts
Due: prettier --check, eslint

Add VITE_BASE_URL variable for production environment
  .env.production
  package-lock.json
  package.json
  src/i18n.ts
  tsconfig.app.json
  types/vite-env.d.ts
  vite.config.ts
Due: prettier --check, eslint

Update game content position for desktop
  src/screens/Game/Game.module.scss
Due: prettier --check, stylelint

Update translations
  public/translations/de/common.json
  public/translations/de/modals.json
  public/translations/en/common.json
  public/translations/en/menu.json
  public/translations/en/modals.json
  public/translations/ru/common.json
  public/translations/ru/modals.json
  src/components/FinishModal/FinishModal.tsx
  src/components/PauseModal/PauseModal.tsx
  src/components/SettingsModal/Settings/hooks/useLanguageSetting.ts
  src/components/SettingsModal/SettingsModal.tsx
  src/screens/MainMenu/MainMenu.tsx
  types/i18next.d.ts
Due: prettier --check, eslint

Add Board ui component
  eslint.config.js
  src/components/Board/ActionCanvas.tsx
  src/components/Board/SolutionCanvas.tsx
  src/components/Board/StaticCanvas.tsx
  src/components/Board/hooks/use-action-drawing.ts
  src/components/Board/hooks/use-board-drawing.ts
  src/contexts/BoardContext/context.ts
  src/contexts/BoardContext/provider.tsx
  src/contexts/BoardContext/utils.ts
  src/styles/_typography.scss
  src/types/board.ts
  src/ui/Board/Board.module.scss
  src/ui/Board/Board.tsx
  src/ui/Board/Cell/Cell.tsx
  src/ui/Board/Cell/index.ts
  src/ui/Board/Row/Row.tsx
  src/ui/Board/Row/index.ts
  src/ui/Board/index.ts
  src/ui/index.ts
  src/utils/board.ts
Due: prettier --check, eslint, stylelint

Add dimensions calculation using media queries
  src/components/FinishModal/FinishModal.tsx
  src/components/PauseModal/PauseModal.tsx
  src/components/SettingsModal/SettingsModal.tsx
  src/screens/Game/Game.tsx
  src/styles/_dimensions.scss
  src/ui/Board/Board.module.scss
  src/ui/Board/Board.tsx
  src/ui/Board/Cell/Cell.tsx
  src/ui/Modal/Modal.module.scss
  src/ui/Modal/Modal.tsx
Due: prettier --check, eslint, stylelint

Add GameContextProvider and template matrix generation
  src/contexts/GameContext/context.ts
  src/contexts/GameContext/hook.ts
  src/contexts/GameContext/hooks/index.ts
  src/contexts/GameContext/hooks/use-board/constants.ts
  src/contexts/GameContext/hooks/use-board/index.ts
  src/contexts/GameContext/hooks/use-board/use-board.ts
  src/contexts/GameContext/hooks/use-board/utils.ts
  src/contexts/GameContext/hooks/use-selected-cell.ts
  src/contexts/GameContext/hooks/use-status.ts
  src/contexts/GameContext/index.ts
  src/contexts/GameContext/provider.tsx
  src/contexts/GameContext/types.ts
  src/contexts/index.ts
  src/main.tsx
  src/types/board.ts
  src/ui/Board/Board.module.scss
  src/ui/Board/Board.tsx
  src/ui/Board/Cell/Cell.tsx
Due: prettier --check, eslint, stylelint

Add vertical shuffle for matrix
  src/contexts/GameContext/hooks/use-board/constants.ts
  src/contexts/GameContext/hooks/use-board/use-board.ts
  src/contexts/GameContext/hooks/use-board/utils.ts
Due: prettier --check, eslint

Add matrix to board conversion
  src/contexts/GameContext/hooks/use-board/use-board.ts
  src/contexts/GameContext/hooks/use-board/utils.ts
  src/contexts/GameContext/types.ts
Due: prettier --check, eslint

Add numbers from matrix removal
  src/contexts/GameContext/context.ts
  src/contexts/GameContext/hooks/use-board/constants.ts
  src/contexts/GameContext/hooks/use-board/use-board.ts
  src/contexts/GameContext/hooks/use-board/utils.ts
  src/contexts/GameContext/provider.tsx
Due: prettier --check, eslint

Add cell value selection to GameContext
  src/contexts/GameContext/context.ts
  src/contexts/GameContext/hooks/use-board/use-board.ts
  src/contexts/GameContext/hooks/use-selected-cell.ts
  src/contexts/GameContext/provider.tsx
  src/ui/Numpad/Numpad.tsx
Due: prettier --check, eslint

Replace the old board with a new one
  src/components/Board/ActionCanvas.tsx
  src/components/Board/Board.module.scss
  src/components/Board/Board.tsx
  src/components/Board/SolutionCanvas.tsx
  src/components/Board/StaticCanvas.tsx
  src/components/Board/constants.ts
  src/components/Board/hooks/use-action-drawing.ts
  src/components/Board/hooks/use-board-drawing.ts
  src/components/Board/hooks/use-canvas.tsx
  src/components/Board/hooks/use-device-pixel-ratio.ts
  src/components/Board/hooks/use-grid-drawing.ts
  src/components/Board/index.ts
  src/components/Board/types.ts
  src/components/Board/utils.ts
  src/components/index.ts
  src/contexts/BoardContext/constants.ts
  src/contexts/BoardContext/context.ts
  src/contexts/BoardContext/hook.ts
  src/contexts/BoardContext/index.ts
  src/contexts/BoardContext/provider.tsx
  src/contexts/BoardContext/types.ts
  src/contexts/BoardContext/utils.ts
  src/contexts/GameContext/context.ts
  src/contexts/GameContext/hooks/index.ts
  src/contexts/GameContext/hooks/use-board/use-board.ts
  src/contexts/GameContext/hooks/use-board/utils.ts
  src/contexts/GameContext/hooks/use-selected-cell.ts
  src/contexts/GameContext/hooks/use-status.ts
  src/contexts/GameContext/provider.tsx
  src/contexts/GameContext/types.ts
  src/contexts/ParamsContext/constants.ts
  src/contexts/ParamsContext/context.ts
  src/contexts/ParamsContext/hook.ts
  src/contexts/ParamsContext/hooks/index.ts
  src/contexts/ParamsContext/hooks/use-dimensions.ts
  src/contexts/ParamsContext/provider.tsx
  src/contexts/index.ts
  src/main.tsx
  src/screens/Game/Game.module.scss
  src/screens/Game/Game.tsx
Due: prettier --check, eslint, stylelint

Refactor ui components
  src/constants/board.ts
  src/global.scss
  src/screens/Game/Game.tsx
  src/types/board.ts
  src/ui/Board/Board.tsx
  src/ui/Board/Cell/Cell.tsx
  src/ui/Button/Button.tsx
  src/ui/Icon/Icon.tsx
  src/ui/Modal/Modal.module.scss
  src/ui/Overlay/Overlay.tsx
  src/ui/ScreenLayout/ScreenLayout.tsx
  src/utils/board.ts
  src/utils/browser.ts
  tsconfig.app.json
Due: prettier --check, eslint, stylelint

Add Russian translation
  public/translations/en/common.json
  public/translations/ru/common.json
Due: prettier --check

Add German translation
  public/translations/de/common.json
Due: prettier --check

Update solution check logic
  src/contexts/GameContext/hooks/use-board/use-board.ts
  src/contexts/GameContext/provider.tsx
Due: prettier --check, eslint
