Repository alexander-bochkov/sudoku: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint, stylelint

.lintstagedrc.json:

{
  "*": "prettier --check",
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{css,scss}": "stylelint"
}

Update dependencies
  package-lock.json
  package.json
  src/screens/Game/Game.tsx
  src/ui/Board/Cell.tsx
  src/ui/Icon/Icon.tsx
  src/ui/Menu/Menu.tsx
  src/ui/Notes/Notes.tsx
  src/ui/Overlay/Overlay.tsx
  types/eslint-plugin-import.d.ts
  vite.config.ts
Due: prettier --check, eslint

Update dependencies
  eslint.config.ts
  package-lock.json
  package.json
Due: prettier --check, eslint

Update eslint config
  eslint.config.ts
  src/hooks/use-persistent-state.ts
  src/screens/Game/use-sudoku/use-sudoku.ts
  src/ui/Board/Cell.tsx
  src/workers/board-generator-worker/utils/shuffle.ts
Due: prettier --check, eslint

Update EditorConfig
  .editorconfig
Due: prettier --check

Update Prettier config
  .npmrc
  .prettierrc.json
  package.json
  prettier.config.ts
Due: prettier --check, eslint

Update dependencies
  package-lock.json
  package.json
Due: prettier --check

Remove unnecessary @types/eslint-config-prettier dependency
  package-lock.json
  package.json
Due: prettier --check

Update Stylelint config
  .stylelintignore
  .stylelintrc.json
  stylelint.config.ts
Due: prettier --check, eslint

Update lint-staged config
  .husky/pre-commit
  .lintstagedrc.json
  lint-staged.config.ts
Due: prettier --check, eslint

Update package.json
  package-lock.json
  package.json
Due: prettier --check

Remove jiti from devDependencies
  .vscode/settings.json
  eslint.config.ts
  lint-staged.config.ts
  package-lock.json
  package.json
Due: prettier --check, eslint

Updates
  assets/balsamiq-sans-CFxmmnQm.ttf
  assets/board-generator-worker-DGw8KjX5.js
  assets/index-CQ68Gfow.js
  assets/index-GFI4OeL9.css
  assets/itim-C81TTF-z.ttf
  assets/stars-CrF-4x53.png
  index.html
  logo.png
Due: prettier --check, eslint, stylelint

Update deployment
  package.json
Due: prettier --check
